
.menu_item{
    display: flex;
}
.menu_item a{
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
    color: #21556e;;
    font-weight: 600;
    padding: 5px;
    font-size: 12px;
}
.menu_item a > .MuiSvgIcon-root{
    font-size:18px;
}

.menu_item a:hover{

    border: 1px solid #21556e;;
    opacity: 0.8;
    border-radius: 10px;
}


.menu_item span{
    margin-left: 2.5px;
}